*#
*.md=
*.log
*.orig
*.jfr
*.iml
*.ipr
*.iws
*.pyc
*.tm.epoch
*.vim
*/project/boot
*/project/build/target
*/project/project.target.config-classes
*~
.#*
.*.swp
.DS_Store
.cache
.cache
.classpath
.codefellow
.ensime*
.eprj
.history
.ideaq
.manager
.multi-jvm
.project
.sbtserver
.sbtserver.lock
.scala_dependencies
.scalastyle
.settings
.cache*
.tmpBin
.tags
.tags_sorted_by_file
.target
.worksheet
Makefile
TAGS
_dump
_mb
bin/
data
etags
lib_managed
logs
manifest.mf
out
project/boot/*
project/plugins/project
reports
run-codefellow
semantic.cache
src_managed
storage
tags
target
target-sbt
tm*.lck
tm*.log
tm.out
worker*.log
*-shim.sbt
test-output
*/activemq-data